This notebook applies analyses from Antoniak et al. (2021) to our dataset. 

Antoniak, M., Walsh, M., & Mimno, D. (2021). Tags, Borders, and Catalogs: Social Re-Working of Genre on LibraryThing. Proc. ACM Hum.-Comput. Interact., 5(CSCW1), 29:1-29:29. https://doi.org/10.1145/3449103

1. Ask GPT-4o to select genre-related tags and combine the tags based on expression similarities;
   - Saved in "../Data/Tags/GPT-4_Based_Combined_Tags_DataFrame.csv"
2. Human inspection and further merge the tags **UNFINISHED**;
   - Saved in "../Data/Tags/tag_merged.csv"
   - "Tag" is the tag name that represent the row of tags, and "Combined_Tags" are the original tags that are merged together. All "Tag(s)" are picked from "Combined_Tags". 
3. Calculate frequency of each Tag based on tag frequency in tag_counter.csv
4. Calculate each Tag's mean rating and mean number of ratings
   - Mean rating: The mean rating of the reviews that tagged Combined_Tags;
   - Mean number of ratings: The mean of reviews that are tagged with Combined_Tags;

In [29]:
import pandas as pd
import os
import ast

In [72]:
mergedPath = "../Data/Tags/tag_merged.csv"
merged = pd.read_csv(mergedPath)
merged["Combined_Tags"] = merged["Combined_Tags"].str.split(", ")
merged

,Tag,Combined_Tags
0,graphic-novels,"[graphic-novels, graphic-novel, graphic-novels..."
1,graphic-novel-comics,"[graphic-novels-manga, graphic-novel-comics, f..."
2,adult-graphic-novels,"[adult-graphic-novels, graphic-novel-adult, gr..."
3,ya-or-adult-graphic-novels,"[adult-teen-graphic-novels, ya-or-adult-graphi..."
4,kids-graphic-novels,"[kids-graphic-novels, graphic-novel-kids, chil..."
...,...,...
75,format-graphic,"[format-graphic, 1format-graphic, form-graphic]"
76,cartoon-graphic-novels,"[cartoon-graphic-novel, cartoon-graphic-novels]"
77,autobiographic-novels,[autobiographic-novels]
78,literary-fiction,[literary-fiction]
79,genre-horror,"[gn-horror, genre-horror]"

In [45]:
tagCounterPath = "../Data/Tags/tag_counter.csv"
tagCounter = pd.read_csv(tagCounterPath)

In [73]:
# Remove duplicates in the Combined_Tags column
def remove_duplicates(tags_list):
    return list(set(tags_list))

# Apply the function to the Combined_Tags column
merged['Combined_Tags'] = merged['Combined_Tags'].apply(remove_duplicates)

In [74]:
# Count frequency of each Tag

# Initialize the Frequency column to 0
merged["Frequency"] = 0

# Iterate over each row in the merged DataFrame
for idx, row in merged.iterrows():
    freq = 0
    # Iterate over each tag in the Combined_Tags list
    for tag in row["Combined_Tags"]:
        # Sum the frequencies of the tags from the tagCounter DataFrame
        tag_freq = tagCounter[tagCounter["tag"] == tag]["frequency"]
        if not tag_freq.empty:
            freq += tag_freq.values[0]
    # Update the Frequency column for the current row
    merged.at[idx, "Frequency"] = freq

In [75]:
merged.sort_values(by="Frequency", ascending=False, inplace=True)
merged

,Tag,Combined_Tags,Frequency
0,graphic-novels,"[graphic-novel-2021, graphic-novel-collection,...",5692
10,non-fiction,"[2-non-fiction, mg-nonfiction, nonfiction-read...",2124
9,biography,"[biographical-fiction, nf-biography, biography...",1523
11,history,"[aa-history, r-nf-history, history-general, nf...",1076
1,graphic-novel-comics,"[comics-manga-and-graphic-novels, graphic-nove...",1016
...,...,...,...
30,lgbt-nonfiction,[glbt-nonfiction],1
8,great-graphic-novels,[great-graphic-novels],1
42,labor-history,[labor-history],1
50,graphic-art,[graphic-art],1
77,autobiographic-novels,[autobiographic-novels],1

In [76]:
merged.to_csv("../Data/Tags/tag_merged.csv", index=False)

In [100]:
import os
import pandas as pd
from collections import defaultdict
import ast

merged = pd.read_csv("../Data/Tags/tag_merged.csv")

reviewsPath = "../Data/Reviews_Scraped/En/"
reviewFiles = os.listdir(reviewsPath)

# Preload all reviews into memory
all_reviews = []

for file in reviewFiles:
    df = pd.read_csv(os.path.join(reviewsPath, file))
    
    # Ensure rating is a numeric value, convert non-numeric ratings to NaN
    df["rating"] = pd.to_numeric(df["rating"], errors="coerce")
    
    # Ensure shelves column is a list
    df["shelves"] = df["shelves"].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
    
    all_reviews.append(df)

# Combine all reviews into a single DataFrame with new global indexing
all_reviews_df = pd.concat(all_reviews, ignore_index=True)

# Filter all_reviews_df to only include reviews with valid ratings to avoid multiple filtering operations
valid_reviews_df = all_reviews_df[all_reviews_df["rating"].notna()]

# Create a reverse index for tags using the new global index
tag_index = defaultdict(set)  # Key: tag, Value: set of indices of reviews containing the tag

for idx, row in all_reviews_df.iterrows():
    if isinstance(row["shelves"], list):
        for tag in row["shelves"]:
            tag_index[tag].add(idx)

# 确保 Combined_Tags 解析为列表类型
def parse_combined_tags(x):
    if isinstance(x, str):
        try:
            return ast.literal_eval(x)  # Safely parse the string representation of a list
        except (ValueError, SyntaxError):
            print(f"Error parsing Combined_Tags: {x}")
            return []
    return x if isinstance(x, list) else []

merged["Combined_Tags"] = merged["Combined_Tags"].apply(parse_combined_tags)

# Initiate the Number_of_Ratings and Mean_Rating columns
merged["Number_of_Ratings"] = 0
merged["Mean_Rating"] = 0

# Iterate over each row in the merged DataFrame
for idx, row in merged.iterrows():
    unique_reviews = set()  # Set to track unique reviews that have been counted
    num_ratings = 0
    total_rating = 0
    print(f"Processing row {idx} with tag {row['Tag']}")

    # Extract all tags from the Combined_Tags column
    combined_tags = row["Combined_Tags"]

    # make sure combined_tags is a list
    if not isinstance(combined_tags, list):
        print(f"Warning: Combined_Tags at row {idx} is not a list, skipping...")
        continue
    
    # Find all reviews that contain any of the tags in the combined_tags list by using the tag_index
    for tag in combined_tags:
        if tag in tag_index:
            # Get the indices of reviews that contain the tag by using the tag_index
            matching_indices = tag_index[tag]
            
            # Add these indices to the set of unique reviews
            unique_reviews.update(matching_indices)

    # Debug print: Check unique reviews set size and content
    print(f"Unique reviews for row {idx}: {len(unique_reviews)} reviews.")

    # Filter out the unique reviews from all_reviews_df, then filter for valid ratings
    filtered_reviews = all_reviews_df.loc[list(unique_reviews)]
    valid_filtered_reviews = filtered_reviews[filtered_reviews["rating"].notna()]

    # 计算评分和数量
    num_ratings = len(valid_filtered_reviews)
    total_rating = valid_filtered_reviews["rating"].sum()

    if num_ratings != 0:
        merged.at[idx, "Number_of_Ratings"] = num_ratings
        merged.at[idx, "Mean_Rating"] = total_rating / num_ratings
        print(f"  Number of Ratings: {merged.at[idx, 'Number_of_Ratings']}")
        print(f"  Mean Rating: {merged.at[idx, 'Mean_Rating']}")
    else:
        print(f"  No ratings found for row {idx}")

# Display the final merged DataFrame for verification
merged

Processing row 0 with tag graphic-novels
Unique reviews for row 0: 5685 reviews.
  Number of Ratings: 5558
  Mean Rating: 4.1214465635120545
Processing row 1 with tag non-fiction
Unique reviews for row 1: 2121 reviews.
  Number of Ratings: 2052
  Mean Rating: 4.110623781676413
Processing row 2 with tag biography
Unique reviews for row 2: 1514 reviews.
  Number of Ratings: 1492
  Mean Rating: 4.02680965147453
Processing row 3 with tag history
Unique reviews for row 3: 1076 reviews.
  Number of Ratings: 1057
  Mean Rating: 4.276253547776727
Processing row 4 with tag graphic-novel-comics
Unique reviews for row 4: 1014 reviews.
  Number of Ratings: 988
  Mean Rating: 4.075910931174089
Processing row 5 with tag memoir
Unique reviews for row 5: 638 reviews.
  Number of Ratings: 625
  Mean Rating: 4.408
Processing row 6 with tag biography-memoirs
Unique reviews for row 6: 527 reviews.
  Number of Ratings: 510
  Mean Rating: 4.1117647058823525
Processing row 7 with tag graphic
Unique reviews for row 7: 391 reviews.
  Number of Ratings: 381
  Mean Rating: 3.989501312335958
Processing row 8 with tag memoir-biography
Unique reviews for row 8: 388 reviews.
  Number of Ratings: 378
  Mean Rating: 4.121693121693122
Processing row 9 with tag historical-fiction
Unique reviews for row 9: 172 reviews.
  Number of Ratings: 166
  Mean Rating: 4.048192771084337
Processing row 10 with tag american-history
Unique reviews for row 10: 144 reviews.
  Number of Ratings: 143
  Mean Rating: 4.4125874125874125
Processing row 11 with tag graphic-nonfiction
Unique reviews for row 11: 100 reviews.
  Number of Ratings: 95
  Mean Rating: 4.2631578947368425
Processing row 12 with tag biographical
Unique reviews for row 12: 90 reviews.
  Number of Ratings: 88
  Mean Rating: 4.0227272727272725
Processing row 13 with tag biography-autobiography
Unique reviews for row 13: 86 reviews.
  Number of Ratings: 84
  Mean Rating: 4.083333333333333
Processing row 14 with tag graphic-comics
Unique reviews for row 14: 64 reviews.
  Number of Ratings: 64
  Mean Rating: 4.046875
Processing row 15 with tag graphic-history
Unique reviews for row 15: 63 reviews.
  Number of Ratings: 61
  Mean Rating: 4.229508196721311
Processing row 16 with tag graphic-books
Unique reviews for row 16: 62 reviews.
  Number of Ratings: 62
  Mean Rating: 3.967741935483871
Processing row 17 with tag adult-non-fiction
Unique reviews for row 17: 56 reviews.
  Number of Ratings: 54
  Mean Rating: 4.0
Processing row 18 with tag fiction
Unique reviews for row 18: 48 reviews.
  Number of Ratings: 48
  Mean Rating: 4.041666666666667
Processing row 19 with tag graphic-narratives
Unique reviews for row 19: 47 reviews.
  Number of Ratings: 47
  Mean Rating: 3.7872340425531914
Processing row 20 with tag adult-graphic-novels
Unique reviews for row 20: 43 reviews.
  Number of Ratings: 40
  Mean Rating: 4.25
Processing row 21 with tag horror
Unique reviews for row 21: 42 reviews.
  Number of Ratings: 40
  Mean Rating: 4.075
Processing row 22 with tag fantasy
Unique reviews for row 22: 42 reviews.
  Number of Ratings: 42
  Mean Rating: 3.8095238095238093
Processing row 23 with tag ya-graphic-novels
Unique reviews for row 23: 38 reviews.
  Number of Ratings: 37
  Mean Rating: 4.351351351351352
Processing row 24 with tag black-history
Unique reviews for row 24: 35 reviews.
  Number of Ratings: 35
  Mean Rating: 4.742857142857143
Processing row 25 with tag comic-graphic
Unique reviews for row 25: 30 reviews.
  Number of Ratings: 30
  Mean Rating: 4.133333333333334
Processing row 26 with tag graphic-sequential
Unique reviews for row 26: 28 reviews.
  Number of Ratings: 28
  Mean Rating: 4.214285714285714
Processing row 27 with tag non-fiction-biography
Unique reviews for row 27: 23 reviews.
  Number of Ratings: 23
  Mean Rating: 3.9565217391304346
Processing row 28 with tag manga-graphic
Unique reviews for row 28: 23 reviews.
  Number of Ratings: 23
  Mean Rating: 4.173913043478261
Processing row 29 with tag non-fiction-memoir
Unique reviews for row 29: 22 reviews.
  Number of Ratings: 22
  Mean Rating: 4.2727272727272725
Processing row 30 with tag autobiography
Unique reviews for row 30: 21 reviews.
  Number of Ratings: 21
  Mean Rating: 4.285714285714286
Processing row 31 with tag kids-graphic-novels
Unique reviews for row 31: 18 reviews.
  Number of Ratings: 18
  Mean Rating: 4.555555555555555
Processing row 32 with tag african-american-history
Unique reviews for row 32: 18 reviews.
  Number of Ratings: 18
  Mean Rating: 4.722222222222222
Processing row 33 with tag historical-nonfiction
Unique reviews for row 33: 18 reviews.
  Number of Ratings: 18
  Mean Rating: 4.222222222222222
Processing row 34 with tag graphic-biography
Unique reviews for row 34: 17 reviews.
  Number of Ratings: 17
  Mean Rating: 4.235294117647059
Processing row 35 with tag graphic-format
Unique reviews for row 35: 15 reviews.
  Number of Ratings: 15
  Mean Rating: 4.133333333333334
Processing row 36 with tag ya-non-fiction
Unique reviews for row 36: 14 reviews.
  Number of Ratings: 14
  Mean Rating: 4.571428571428571
Processing row 37 with tag genre-nonfiction
Unique reviews for row 37: 14 reviews.
  Number of Ratings: 13
  Mean Rating: 3.769230769230769
Processing row 38 with tag favorite-graphic-novels
Unique reviews for row 38: 14 reviews.
  Number of Ratings: 14
  Mean Rating: 4.714285714285714
Processing row 39 with tag comic-biography
Unique reviews for row 39: 13 reviews.
  Number of Ratings: 13
  Mean Rating: 3.230769230769231
Processing row 40 with tag comics-non-fiction
Unique reviews for row 40: 12 reviews.
  Number of Ratings: 12
  Mean Rating: 4.25
Processing row 41 with tag adult-fiction
Unique reviews for row 41: 12 reviews.
  Number of Ratings: 11
  Mean Rating: 3.909090909090909
Processing row 42 with tag graphic-novels-and-nonfiction
Unique reviews for row 42: 11 reviews.
  Number of Ratings: 11
  Mean Rating: 4.7272727272727275
Processing row 43 with tag history-ww2
Unique reviews for row 43: 10 reviews.
  Number of Ratings: 10
  Mean Rating: 4.7
Processing row 44 with tag art-history
Unique reviews for row 44: 10 reviews.
  Number of Ratings: 9
  Mean Rating: 3.5555555555555554
Processing row 45 with tag ya-fiction
Unique reviews for row 45: 10 reviews.
  Number of Ratings: 10
  Mean Rating: 4.2
Processing row 46 with tag graphic-lit
Unique reviews for row 46: 9 reviews.
  Number of Ratings: 9
  Mean Rating: 4.0
Processing row 47 with tag novels
Unique reviews for row 47: 7 reviews.
  Number of Ratings: 7
  Mean Rating: 3.5714285714285716
Processing row 48 with tag history-politics
Unique reviews for row 48: 7 reviews.
  Number of Ratings: 7
  Mean Rating: 4.285714285714286
Processing row 49 with tag fantagraphics
Unique reviews for row 49: 7 reviews.
  Number of Ratings: 6
  Mean Rating: 3.1666666666666665
Processing row 50 with tag getting-graphic
Unique reviews for row 50: 6 reviews.
  Number of Ratings: 6
  Mean Rating: 4.333333333333333
Processing row 51 with tag historical-biography
Unique reviews for row 51: 6 reviews.
  Number of Ratings: 6
  Mean Rating: 4.0
Processing row 52 with tag graphic-novels-picturebooks
Unique reviews for row 52: 6 reviews.
  Number of Ratings: 5
  Mean Rating: 4.2
Processing row 53 with tag narrative-nonfiction
Unique reviews for row 53: 6 reviews.
  Number of Ratings: 5
  Mean Rating: 4.2
Processing row 54 with tag graphic-fiction-and-nonfiction
Unique reviews for row 54: 5 reviews.
  Number of Ratings: 5
  Mean Rating: 3.8
Processing row 55 with tag format-graphic
Unique reviews for row 55: 5 reviews.
  Number of Ratings: 5
  Mean Rating: 4.2
Processing row 56 with tag biographies-other-non-fictions
Unique reviews for row 56: 5 reviews.
  Number of Ratings: 5
  Mean Rating: 3.6
Processing row 57 with tag comics-graphic-novels-and-memoirs
Unique reviews for row 57: 5 reviews.
  Number of Ratings: 2
  Mean Rating: 2.5
Processing row 58 with tag antiracist-nonfiction
Unique reviews for row 58: 4 reviews.
  Number of Ratings: 4
  Mean Rating: 4.0
Processing row 59 with tag comics-memoir
Unique reviews for row 59: 4 reviews.
  Number of Ratings: 4
  Mean Rating: 3.75
Processing row 60 with tag crime-mystery
Unique reviews for row 60: 4 reviews.
  Number of Ratings: 2
  Mean Rating: 4.0
Processing row 61 with tag cartoon-graphic-novels
Unique reviews for row 61: 4 reviews.
  Number of Ratings: 4
  Mean Rating: 4.25
Processing row 62 with tag military-history
Unique reviews for row 62: 4 reviews.
  Number of Ratings: 4
  Mean Rating: 4.0
Processing row 63 with tag graphic-texts
Unique reviews for row 63: 4 reviews.
  Number of Ratings: 4
  Mean Rating: 3.5
Processing row 64 with tag mystery
Unique reviews for row 64: 4 reviews.
  Number of Ratings: 4
  Mean Rating: 3.5
Processing row 65 with tag 900-history-geography
Unique reviews for row 65: 3 reviews.
  Number of Ratings: 3
  Mean Rating: 4.333333333333333
Processing row 66 with tag adult-biography
Unique reviews for row 66: 3 reviews.
  Number of Ratings: 3
  Mean Rating: 4.333333333333333
Processing row 67 with tag good-teaching-novel
Unique reviews for row 67: 3 reviews.
  Number of Ratings: 3
  Mean Rating: 5.0
Processing row 68 with tag hardly-strictly-biography
Unique reviews for row 68: 3 reviews.
  Number of Ratings: 3
  Mean Rating: 4.0
Processing row 69 with tag contemporary-history
Unique reviews for row 69: 3 reviews.
  Number of Ratings: 3
  Mean Rating: 4.666666666666667
Processing row 70 with tag genre-horror
Unique reviews for row 70: 3 reviews.
  Number of Ratings: 3
  Mean Rating: 4.0
Processing row 71 with tag history-current-events
Unique reviews for row 71: 3 reviews.
  Number of Ratings: 3
  Mean Rating: 4.333333333333333
Processing row 72 with tag ya-or-adult-graphic-novels
Unique reviews for row 72: 3 reviews.
  Number of Ratings: 3
  Mean Rating: 4.0
Processing row 73 with tag literary-fiction
Unique reviews for row 73: 2 reviews.
  Number of Ratings: 2
  Mean Rating: 4.5
Processing row 74 with tag creative-nonfiction
Unique reviews for row 74: 2 reviews.
  Number of Ratings: 2
  Mean Rating: 4.0
Processing row 75 with tag lgbt-nonfiction
Unique reviews for row 75: 1 reviews.
  Number of Ratings: 1
  Mean Rating: 5.0
Processing row 76 with tag great-graphic-novels
Unique reviews for row 76: 1 reviews.
  No ratings found for row 76
Processing row 77 with tag labor-history
Unique reviews for row 77: 1 reviews.
  Number of Ratings: 1
  Mean Rating: 3.0
Processing row 78 with tag graphic-art
Unique reviews for row 78: 1 reviews.
  Number of Ratings: 1
  Mean Rating: 5.0
Processing row 79 with tag autobiographic-novels
Unique reviews for row 79: 1 reviews.
  Number of Ratings: 1
  Mean Rating: 5.0

/var/folders/d6/hvwxst9x071_r1dtcr9krndr0000gn/T/ipykernel_49785/4009231561.py:93: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '4.1214465635120545' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  merged.at[idx, "Mean_Rating"] = total_rating / num_ratings

,Tag,Combined_Tags,Frequency,Number_of_Ratings,Mean_Rating,Mean_Number_of_Ratings
0,graphic-novels,"[graphic-novel-2021, graphic-novel-collection,...",5692,5558,4.121447,26.46
1,non-fiction,"[2-non-fiction, mg-nonfiction, nonfiction-read...",2124,2052,4.110624,19.42
2,biography,"[biographical-fiction, nf-biography, biography...",1523,1492,4.026810,69.10
3,history,"[aa-history, r-nf-history, history-general, nf...",1076,1057,4.276254,53.21
4,graphic-novel-comics,"[comics-manga-and-graphic-novels, graphic-nove...",1016,988,4.075911,4.98
...,...,...,...,...,...,...
75,lgbt-nonfiction,[glbt-nonfiction],1,1,5.000000,1.00
76,great-graphic-novels,[great-graphic-novels],1,0,0.000000,1.00
77,labor-history,[labor-history],1,1,3.000000,1.00
78,graphic-art,[graphic-art],1,1,5.000000,1.00
79,autobiographic-novels,[autobiographic-novels],1,1,5.000000,1.00

In [101]:
merged["Mean_Number_of_Ratings"] = (merged["Number_of_Ratings"] / merged["Combined_Tags"].apply(len)).round(2)
merged["Mean_Rating"] = merged["Mean_Rating"].round(2)
merged

,Tag,Combined_Tags,Frequency,Number_of_Ratings,Mean_Rating,Mean_Number_of_Ratings
0,graphic-novels,"[graphic-novel-2021, graphic-novel-collection,...",5692,5558,4.12,61.76
1,non-fiction,"[2-non-fiction, mg-nonfiction, nonfiction-read...",2124,2052,4.11,31.57
2,biography,"[biographical-fiction, nf-biography, biography...",1523,1492,4.03,149.20
3,history,"[aa-history, r-nf-history, history-general, nf...",1076,1057,4.28,75.50
4,graphic-novel-comics,"[comics-manga-and-graphic-novels, graphic-nove...",1016,988,4.08,7.72
...,...,...,...,...,...,...
75,lgbt-nonfiction,[glbt-nonfiction],1,1,5.00,1.00
76,great-graphic-novels,[great-graphic-novels],1,0,0.00,0.00
77,labor-history,[labor-history],1,1,3.00,1.00
78,graphic-art,[graphic-art],1,1,5.00,1.00
79,autobiographic-novels,[autobiographic-novels],1,1,5.00,1.00

In [102]:
merged.to_csv("../Data/Tags/tag_merged.csv", index=False)